body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cont{
  background-color: #61dafb;
  width: 50%;
  height: 100%;
  margin: auto;
}

.listBody{
  background-color: aliceblue;
  min-height: 23rem;
  margin-bottom: 1rem;
}

.overlineText{
  text-decoration: line-through;
  font-style: italic;
}
